.landing-page {
  .sub-title {
    font-size: $font-s;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-top: 0.65rem;
    padding-right: 23rem;
  }
}
