.result-page {
  .result-header {
    .logo {
      height: 63px;
    }
  }
  .sorter {
    display: flex;
    justify-content: end;
    select {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      text-indent: 1px;
      text-overflow: "";
      outline: none;
      padding: 1rem;
      font-weight: bold;
      option {
        font-weight: bold;
        font-size: $font-s;
      }
    }
  }
  .result-context {
    padding-left: 12.5rem;
    padding-right: 4rem;
    .result-container {
      border-bottom: 1px solid #585858;
      margin-bottom: 1.25rem;

      .left {
        .country-city {
          font-size: $font-m;
          margin: 0;
        }
        .name-date {
          font-size: $font-xs;
          color: $light-text-color;
        }
      }
      .right {
        .email {
          font-size: $font-m;
          margin: 0;
        }
      }
    }
  }

  .custom-page-link {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-s;
    font-weight: bold;
    // color: $text-color;
    border: 1px solid $text-color;
    border-radius: 0.25rem;
  }
  .custom-next,
  .custom-prev {
    position: relative;
    display: block;
    height: 24px;
    padding: 0 0.5rem;
    font-size: $font-s;
    font-weight: bold;
    color: $text-color;
    border: 1px solid $text-color;
    border-radius: 0.25rem;
  }
  .pagination {
    justify-content: center;
  }
  .page-item {
    margin: 0 0.3rem;
  }
  .active {
    background-color: $primary-color;
    color: white;
  }
}
