.result-page {
  .result-context {
    .result-container {
      border-bottom: 1px solid #585858;
      margin-bottom: 1.25rem;
      .left {
        .country-city {
          font-size: $font-m;
          margin: 0;
        }
        .name-date {
          font-size: $font-xs;
          color: $light-text-color;
        }
      }
      .right {
        .email {
          font-size: $font-m;
          margin: 0;
        }
      }
    }
  }
}
