.result-page {
  .sorter {
    display: flex;
    justify-content: end;
    select {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      text-indent: 1px;
      text-overflow: "";
      outline: none;
      padding: 1rem;
      font-weight: bold;
      option {
        font-weight: bold;
        font-size: $font-s;
      }
    }
  }
  .result-context {
    .result-container {
      border-bottom: 1px solid #585858;
      margin-bottom: 1.25rem;
      .left {
        .country-city {
          font-size: $font-m;
          margin: 0;
        }
        .name-date {
          font-size: $font-xs;
          color: $light-text-color;
        }
      }
      .right {
        .email {
          font-size: $font-m;
          margin: 0;
        }
      }
    }
  }
}
