// COLORS
$primary-color: #204080;
$secondary-color: #4f75c2;
$text-color: #484848;
$light-text-color: #686868;
$white: #fff;
$black: #000;

// SIZES
$font-m: 1.125rem;
$font-s: 0.875rem;
$font-xs: 0.75rem;
