body {
  font-family: "Roboto", sans-serif;
}

.btn-custom {
  background-color: #204080;
  color: #fff;
  padding: 0.625rem 1rem;
  height: 2.875rem;
  width: 8.63rem;
  font-weight: bold;
  font-size: 1.125rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.btn-custom:hover {
  background-color: #4f75c2;
  color: #fff;
}

.search-input {
  height: 2.875rem;
  margin-right: 1.5rem;
  padding: 0.625rem 1rem;
  border: 2px solid #000;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.search-input:hover {
  background: rgba(100, 100, 100, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.landing-page .sub-title {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-top: 0.65rem;
  padding-right: 23rem;
}

.result-box {
  overflow: hidden;
  margin-top: 1.125rem;
  padding: 1rem 2rem;
  border: 1px solid #484848;
  border-radius: 0.5rem;
}

.result-box .result-container {
  border-bottom: 1px solid #585858;
  margin-bottom: 1.25rem;
}

.result-box .result-container .left .country-city {
  font-size: 1.125rem;
  margin: 0;
}

.result-box .result-container .left .name-date {
  font-size: 0.75rem;
  color: #686868;
}

.result-box .result-container .right .email {
  font-size: 1.125rem;
  margin: 0;
}

.result-page .result-header .logo {
  height: 63px;
}

.result-page .sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.result-page .sorter select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  text-indent: 1px;
  text-overflow: "";
  outline: none;
  padding: 1rem;
  font-weight: bold;
}

.result-page .sorter select option {
  font-weight: bold;
  font-size: 0.875rem;
}

.result-page .result-context {
  padding-left: 12.5rem;
  padding-right: 4rem;
}

.result-page .result-context .result-container {
  border-bottom: 1px solid #585858;
  margin-bottom: 1.25rem;
}

.result-page .result-context .result-container .left .country-city {
  font-size: 1.125rem;
  margin: 0;
}

.result-page .result-context .result-container .left .name-date {
  font-size: 0.75rem;
  color: #686868;
}

.result-page .result-context .result-container .right .email {
  font-size: 1.125rem;
  margin: 0;
}

.result-page .custom-page-link {
  position: relative;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
  border: 1px solid #484848;
  border-radius: 0.25rem;
}

.result-page .custom-next,
.result-page .custom-prev {
  position: relative;
  display: block;
  height: 24px;
  padding: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #484848;
  border: 1px solid #484848;
  border-radius: 0.25rem;
}

.result-page .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-page .page-item {
  margin: 0 0.3rem;
}

.result-page .active {
  background-color: #204080;
  color: white;
}
/*# sourceMappingURL=custom.css.map */